.feature {
  border: 1px solid var(--feature-red);
  display: flex;
  justify-content: space-between;

  &__title {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__img {
    width: 64px;
    height: 64px;
    padding: 4px 0 4px 6px;
  }

  &__name {
    font: var(--font-p-16-100-400);
    color: var(--white-font);
    margin: 0;
    text-align: left;
    max-width: 180px;
  }

  &__columns {
    display: flex;
    align-items: center;
  }

  &__column {
    width: 140px;
    font: var(--font-p-16-100-400);
    color: var(--white-font);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
