.bundle {
  width: 100%;
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.bundleWrapper {
  background-image: url('/images/bundle-bottom-glow.png');
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      ellipse at center,
      transparent 0%,
      transparent 30%,
      rgba(0, 0, 0, 0.3) 40%,
      transparent 100%
    );
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    z-index: 1;
  }
}
