@font-face {
  src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf)
    format('truetype');
  font-family: 'Roboto Condensed';
  font-weight: 300;
}

@font-face {
  src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf)
    format('truetype');
  font-family: 'Roboto Condensed';
  font-weight: 400;
}

@font-face {
  src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf)
    format('truetype');
  font-family: 'Roboto Condensed';
  font-weight: 700;
}
